:root {
    --primary-color: #b0c7b2;
    --secondary-color: #304a40;
    --accent1-color: rgb(7, 59, 76);
    --accent1-color-transparency: rgb(7, 59, 76, 0.4);
    --accent2-color: rgb(181, 243, 242);
    --accent2-color-transparency: rgb(181, 243, 242, 0.5);
    --accent3-color: #597d5c;
    --heading-font: "Lobster", system-ui;
    --text-font: "Roboto", system-ui;
}

* {
    max-width: 1200px;
    margin: auto;
    justify-content: center;

}

header{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    /* max-width: 1000px; */
    align-items: center;
    background-color: var(--primary-color);
    justify-content: center;
}

header img{
    grid-column: 2/3;
    width: 50%;
}

li {
    list-style: none;
}

nav {
	text-align: right;
    display: flex;

}

header a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 1rem;
    border: 1px solid;
    background-color: var(--secondary-color)
}

header a:hover{
    cursor: pointer;
    background-color: var(--accent3-color)
}

p {
    font-family: var(--text-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

main {
    /* max-width: 1000px; */
    display: grid;
    margin: 1rem auto;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 1200px;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 15px;
    color: var(--accent2-color);
    left: 430px;
    background-color: rgb(7, 59, 76, 0.5);
    padding: 5px 30px;
    border-radius: 300px
}

article{
    position: absolute;
    background-color: var(--accent1-color-transparency);
    color: var(--accent2-color);
    margin: 30px;
    left: 0;
    top: 60px;
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
}

.history {
    display: grid;
    grid-template-columns: auto;

}

.history h2{
    text-align: center;
}

.pictures {
    /* max-width: 1000px; */
    display: grid;
    margin: 1rem auto;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 20% 80%;
}

.pictures h2 {
    grid-column: 1/6;
    grid-row: 1/2 ;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.pictures img{
    max-width: 200px;
    grid-row: 2/3;
}

figure{
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: 5px
}

footer {
    position: relative;
}

footer p{
    position: absolute;
    top: 40%;
    left: 40%;
}

footer img{
    width: 2rem;
    height: auto;
}

.footerLinks{
    text-decoration: none;
    margin: 0.5rem;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    float: right;
}

footer a:hover{
    cursor: pointer;
    transform: translateY(-3px);
    transition-duration: 0.5s;
}

/* Contact Us */

.grid-contact {
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-rows: 1fr 3fr;
}

.form {
    grid-row: auto;
}

.column1 {
    grid-column: 1/4;
}

.column2 {
    grid-column: 4/5;
}

.map {
    max-width: 1fr;

}

.employees img{
    border-radius: 30%;
    width: 200px; height: auto;
}

